<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>board_save</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <sciprt th:src="@{js/axios.min.js}"></sciprt>
    <script th:src="@{/js/jquery.js}"></script>
    <style>
        #totalForm {
            width: 800px;
        }
    </style>
</head>
<body>
<div class="container" id="totalForm">
    <form action="/board/save" method="post" name="boardSaveForm" enctype="multipart/form-data">
        <label for="boardWriter">작성자</label>
        <input type="text" name="boardWriter" id="boardWriter" th:value="${session.login.memberEmail}"
               class="form-control">
        <br>

        <label for="boardTitle">제목</label>
        <input type="text" name="boardTitle" id="boardTitle" class="form-control">
        <br>

        <label for="boardContents">내용</label>
        <textarea name="boardContents" id="boardContents" class="form-control" cols="30" rows="10"></textarea>

        <input type="file" name="boardFile" class="form-control" multiple>

        <div>
            <input type="button" value="작성완료" onclick="boardNewWrite()" class="btn">
        </div>
    </form>
</div>
</body>
<script th:inline="javascript">
    const boardNewWrite = () => {
        document.boardSaveForm.submit();

    }
</script>
</html>