<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>board_list</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{js/axios.min.js}"></script>
    <script th:src="@{/js/jquery.js}"></script>
    <style>
        .container {
            text-align: center;
        }
    </style>
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성시간</th>
            <th scope="col">수정시간</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="list: ${paging}">
            <td th:text="${list.id}"></td>
            <td><a th:href="@{|/board/${list.id}|}" th:text="${list.boardTitle}"></a></td>
            <td th:text="${list.boardWriter}"></td>
            <td th:text="*{#temporals.format(list.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="*{#temporals.format(list.boardUpdatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${list.boardHits}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" th:href="@{/board/list(page=1)}">
                <span> ◀ </span>
            </a>
        </li>

        <li th:class="${paging.first} ? 'disabled'" class="page-item">
            <a class="page-link" th:href="${paging.first} ? '#' : @{/board/list(page=${paging.number})}">
                <span> ＜ </span>
            </a>
        </li>

        <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
            th:class="${page == paging.number + 1} ? 'page-item active'" class="page-item">
            <a class="page-link" th:text="${page}" th:href="@{/board/list(page=${page})}"></a>
        </li>

        <li th:class="${paging.last} ? 'disabled'">
            <a class="page-link" th:href="${paging.last} ? '#' : @{/board/list(page=${paging.number +2})}">
                <span> ＞ </span>
            </a>
        </li>

        <li th:class="page-item">
            <a class="page-link" th:href="@{/board/list(page=${paging.totalPages})}">
                <span> ▶ </span>
            </a>
        </li>
    </ul>
</div>


<div class="container">
    <button onclick="toNewWrite()" class="btn">게시글 작성</button>
    <button onclick="toHome2()" class="btn btn-outline-primary">홈으로</button>
    <button onclick="toLogout()" class="btn btn-secondary">로그아웃</button>
</div>
</body>
<script th:inline="javascript">
    const toNewWrite = () => {
        location.href = "/board/save";
    }

    const toHome2 = () => {
        location.href = "/";
    }

    const toLogout = () => {
        location.href = "/member/logout";

    }
</script>
</html>