<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>board_list</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{js/axios.min.js}"></script>
    <script th:src="@{/js/jquery.js}"></script>
    <style>
        .container {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <table class="table table-hover">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성시간</th>
            <th>수정시간</th>
            <th>조회수</th>
        </tr>
        <tr th:each="list: ${boardList}">
            <td th:text="${list.id}"></td>
            <td><a th:href="@{|/board/${list.id}|}" th:text="${list.boardTitle}"></a></td>
            <td th:text="${list.boardWriter}"></td>
            <td th:text="*{#temporals.format(list.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="*{#temporals.format(list.boardUpdatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${list.boardHits}"></td>
        </tr>
    </table>
</div>
<div class="container">
    <button onclick="toNewWrite()" class="btn">게시글 작성</button>
    <button onclick="toHome2()" class="btn btn-outline-primary">홈으로</button>
    <button onclick="toLogout()" class="btn btn-secondary">로그아웃</button>
</div>
</body>
<script th:inline="javascript">
    const toNewWrite = () => {
        location.href = "/board/save";
    }

    const toHome2 = () => {
        location.href = "/";
    }

    const toLogout = () => {
        location.href = "/member/logout";

    }
</script>
</html>