<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.js}"></script>
</head>
<body>
<div class="container">
    <button class="btn btn-primary" onclick="toSave()">회원가입</button>
    <button class="btn btn-primary" onclick="toLogin()">로그인</button>
    <button class="btn btn-primary" onclick="toList()">글목록</button>
</div>
</body>
<script th:inline="javascript">
    const toSave = () => {
        location.href = "/member/save";
    }

    const toLogin = () => {
        location.href = "/member/login";
    }

    const toList = () => {
        location.href = "/board/list";
    }
</script>
</html>